@model LearninngManagementSystem.Models.StaffLogInViewModel


@{
    ViewBag.Title = "StaffLogInView";
}

<div class=" text-center text-secondary">
    <h2 class="mb-3">Welcome To JEKE HIGH</h2>
    <p class="mb-4">JEKE MAARN Education</p>
</div>
<div>
    <h4 class="text-secondary text-center">Log In</h4>
</div>
<div>
    <div class="card bg-secondary w-50 mx-auto rounded-4 h-100 mb-5">
        @using (Html.BeginForm("StaffLogInView", "User", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
            }

            <div class="container mt-2">
                <div class="mb-3">
                    @Html.LabelFor(m => m.StaffNo, "Staff Number:")
                    @Html.TextBoxFor(m => m.StaffNo, new { @class = "form-control", @id = "StaffNo" })
                    @Html.ValidationMessageFor(m => m.StaffNo, "", new { @class = "text-danger" })
                </div>
                <div class="mb-5">
                    @Html.LabelFor(m => m.Password, "Password:")
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <button id="StaffLogIn" type="submit" class="btn btn-success mb-4">Log In</button>
        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.querySelector("form");
        var staffNo = document.getElementById("StaffNo");
        var password = document.getElementById("Password");

        form.addEventListener("submit", function (e) {
            if (staffNo.value.trim() === "" && password.value.trim() === "") {
                e.preventDefault();
                alert("Please enter both Staff Number and Password.");
            }
            else if (staffNo.value.trim() === "") {
                e.preventDefault();
                alert("Please enter your Staff Number!!")
            }
            else if (password.value.trim() === "") {
                e.preventDefault();
                alert("Please enter your password!!")
            }
        });
    });

</script>



