@model LearninngManagementSystem.Models.StudentLogInViewModel
@{
    ViewBag.Title = "StudentLogInView";
}
@Styles.Render("~/Content/Styles.css")

<div class=" text-center text-secondary">
    <h2 class="mb-3">Welcome To JEKE HIGH</h2>
    <p class="mb-4">JEKE MAARN Education</p>
</div>
<div>
    <h4 class="text-secondary text-center">Log In</h4>
</div>

<div class="card bg-secondary w-50 mx-auto rounded-4 h-100 mb-5">
    @using (Html.BeginForm("StudentLogInView", "User", FormMethod.Post))
    {

        if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
        }

        <div class="container mt-2">
            <div class="mb-3">
                @Html.LabelFor(m => m.StudentNo, "Student Number:")
                @Html.TextBoxFor(m => m.StudentNo, new { @class = "form-control", placeholder = "L12345678", @id = "StudentNo" })
            </div>
            <div class="mb-5">
                @Html.LabelFor(m => m.Password, "Password:")
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "InPassword" })
            </div>
        </div>

        <button id="StuLogIn" type="submit" class="btn btn-success mb-4">Log In</button>

    }
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.querySelector("form");
        var studentNo = document.getElementById("StudentNo");
        var password = document.getElementById("InPassword");

        form.addEventListener("submit", function (e) {
            if (studentNo.value.trim() === "" && password.value.trim() === "") {
                e.preventDefault();
                alert("Please enter both Student Number and Password.");
            }
            else if (studentNo.value.trim() === "") {
                e.preventDefault();
                alert("Please enter your Student Number!!")
            }
            else if (password.value.trim() === "") {
                e.preventDefault();
                alert("Please enter your password!!")
            }
        });
    });

</script>



