@model LearninngManagementSystem.Models.ManageViewModel
@{
    ViewBag.Title = "PrincipalView";
}

<div>
    <div class="text-center">
        <h2 class="mb-3 text-dark">Welcome To JEKE HIGH</h2>
        <p class="mb-4 text-dark">JEKE MAARN Education</p>
    </div>

    <div>
        <h4 class="text-secondary">Students:</h4>

        <div class="row align-items-center mb-3">
            <div class="col-md-4">
                <input type="text" id="searchBox" placeholder="Search Student Number" class="form-control" />
            </div>
            <div class="col-md-2">
                <button type="button" id="searchbutton" class="btn btn-outline-primary w-100">Search</button>
            </div>


        </div>

        <div class="table-responsive mb-4">
            <table id="StudentsTable" class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Student Number</th>
                        <th>Grade</th>
                        <th>Details</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var s in Model.Students)
                    {
                        <tr>
                            <td>
                                @s.Name
                            </td>
                            <td>
                                @s.Surname
                            </td>
                            <td>
                                @s.StudentNo
                            </td>
                            <td>
                                @s.grade
                            </td>
                            <td>
                                <button class="btn btn-success">View</button>
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>

        <h4 class="text-secondary mt-5">
            Staff:
        </h4>
        <div class="row align-items-center mb-3">
            <div class="col-md-4">
                <input type="text" id="StaffsearchBox" placeholder="Search Staff Number" class="form-control" />
            </div>
            <div class="col-md-2">
                <button type="button" id="Staffsearchbutton" class="btn btn-outline-primary w-100">Search</button>
            </div>


        </div>
        <div class="table-responsive">
            <table class="table table-hover" id="StaffTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Staff Number</th>
                        <th>Position</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var t in Model.Staff)
                     {
                        <tr>
                            <td>@t.Name</td>
                            <td>@t.Surname</td>
                            <td>@t.StaffNo</td>
                            <td>@t.Type</td>
                        </tr>
                     }
                </tbody>
            </table>
        </div>
    </div>

    </div>

<script>

    document.addEventListener("DOMContentLoaded", function () {

        document.getElementById("searchbutton").addEventListener("click", function () {

            const searchterm = document.getElementById("searchBox").value.toLowerCase();
            var rows = document.querySelectorAll("#StudentsTable tbody tr");

            if (!searchterm) {
                rows.forEach(row => row.style.display = "");
                return;
            }
            //Loop through the rows
            rows.forEach(row => {
                const nameCell = row.cells[0];
                const name = nameCell.textContent.toLowerCase();
                if (name.includes(searchterm)) {
                    row.style.display = "";

                }
                else {
                    row.style.display = "none";
                }

            })
            setTimeout(() => {
                rows.forEach(row => {
                    row.style.display = "";
                   
                });
            }, 10000);

        })

        document.getElementById("Staffsearchbutton").addEventListener("click", function () {

            const searchterm = document.getElementById("StaffsearchBox").value.toLowerCase();
            var rows = document.querySelectorAll("#StaffTable tbody tr");

            if (!searchterm) {
                rows.forEach(row => row.style.display = "");
                return;
            }
            //Loop through the rows
            rows.forEach(row => {
                const nameCell = row.cells[0];
                const name = nameCell.textContent.toLowerCase();
                if (name.includes(searchterm)) {
                    row.style.display = "";

                }
                else {
                    row.style.display = "none";
                }

            })
            setTimeout(() => {
                rows.forEach(row => {
                    row.style.display = "";

                });
            }, 5000);

        })






    });



</script>
